:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
	--cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
	--fz-big: 60px;
}

* {
	box-sizing: border-box;
	font-family: "Syne", sans-serif;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

body {
	background: var(--second-color);
}

.wrapp {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px;
	padding-top: 130px;
	z-index: 1;
}

.title {
	margin-top: 0;
	margin-bottom: 110px;
	font-size: var(--fz-big);
	text-transform: uppercase;
	color: var(--pr-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	gap: 60px;
}

.gallery__item {
	position: relative;
	max-width: calc(33.33% - 40px);
	width: 100%;
	height: 500px;
	list-style: none;
	overflow: hidden;
	cursor: pointer;
}

.gallery__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	will-change: transform;
	transition: 0.8s var(--cubicbz);
}

.gallery__item:hover .gallery__img {
	transform: scale(1.3);
}

.gallery__item::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.614);
	will-change: opacity;
	pointer-events: none;
	z-index: 2;
	transition: 0.8s var(--cubicbz);
}

.gallery__item:hover::after {
	opacity: 1;
}

.zoom {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	font-size: 40px;
	text-transform: uppercase;
	will-change: transform, opacity;
	pointer-events: none;
	transform: translate(-50%, -10%);
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
	z-index: 3;
	transition: 0.8s var(--cubicbz);
}

.gallery__item:hover .zoom {
	opacity: 1;
	transform: translate(-50%, -50%);
}

.fancybox__backdrop::after {
	content: "";
	position: absolute;
	width: 10%;
	height: 10%;
	filter: blur(2px);
	left: 50%;
	top: 50%;
	transform: scale(11);
	opacity: 0.3;
	background-image: var(--bg-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.fancybox__toolbar {
	padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
	--f-button-border-radius: 50%;
	--f-button-bg: rgb(91 78 76 / 64%);
	--f-button-hover-bg: rgb(91 78 76 / 74%);
	--f-button-active-bg: rgb(91 78 76 / 84%);
}

.fancybox__nav {
	--f-button-svg-width: 22px;
	--f-button-svg-height: 22px;
}

.fancybox__thumbs.is-classic {
	--f-thumb-width: 48px;
	--f-thumb-height: 48px;
	--f-thumb-gap: 16px;

	--f-thumb-border-radius: 6px;
	--f-thumb-outline: 0;
}
